.nav{   
    background: #393E46; 
    /* border: dashed 1px; */
    height: 60px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #222831;
}

.logo {
    width: 50px;
    height: 50px;
}

.navlink{
    /* border: 1px dashed; */
    min-width: 200px;
    max-width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    text-decoration: none;
    font-weight: bolder;
    color: #EEEEEE;
}

